<h3><%= link_to "Eliminate This House", house_path(@house.id),
  method: :delete,
  data: {confirm: "Are You Sure?"}%></h3>


<div class="title_wrapper">
   <h1 class="title title_show"><%= @house.name %></h1>
  <img class="image_right" src="<%= @house.photo_url %>">
</div>
<% @character.each do |char| %>
  <h2><%= char.name %></h2>
  <img class="char_image" src="<%= char.photo_url %>">
<% end %>


